.header-content {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}

.header {
    border-bottom: 1px #e1e1e1 solid;
}

.header-content ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-content ul li {
    list-style: none;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-left: 1px #e1e1e1 solid;
}

.header-content ul li:last-child {
    border-right: 1px #e1e1e1 solid;
}

.header-content ul li a {
    text-decoration: none;
    color: black;
}

.header-content ul li a:hover {
    color: #2d8356;
}

.app-sidebar {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}


