.icon-cart {
    width: 50px;
    height: 50px;
    background-color: #2d8356;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}

.icon-logo {
    width: 200px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.transport {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transport p {
    margin: 0 15px;
    width: 185px;
}

.hotline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hotline p {
    margin: 0 15px;
    width: 185px;
}

.shop-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-cart p {
    margin: 0 15px;
}